
<%- include("partials/header"); -%>
<!-- navbar ends  -->

 <!-- bubble pic animation part  -->
 <div class="container-fluid bubblepic">


 </div>

<!-- image eye move part and into -->



<div class="container-fluid eyeanim">

  <div class="row">

    <div class="col-md-10 col-12 intro mx-auto">

     
      <div class="introimg">
        <img src="images/thinkeye.png" alt="thinkimg" class="thinkimg">
        
        <div class="eyes">
          <img src="images/eye.png" alt="" class="eye lefteye" >
          <img src="images/eye.png" alt="" class="eye righteye" >
        
        </div>
      
        
        <div class="introtext" style="display: none;">
          <h2 class="heading">BIZMIND</h2>
          <p class="subheading">Think Belive Create</p>
          
        </div>
      
      
      </div>

      


     







    </div>
  </div>

</div>


<!-- open title section  -->

  <h3 class="scrolldown" >Scroll Down </h3>
  <h2 class="abttext" >About Bizmind</h2>

  
  <section class="titleopen">
    <h2 class="innerText">About Bizmind</h2>
  </section>
  
  <div class="container abtcontent  "  id="about" >
    <h2 class="pageheading">About Bizzmind</h2>
    <p>Bizmind, the entrepreneurial cell of maims was established in 2019. it aims to encourage the youth to embrace their inner entrepreneur. it gives wings to creativity by putting students from diverse backgrounds together. the team encompasses students from all departments, such as commerce, business administration, law, and even technology. it provides various opportunities for the members to gain exposure and develop their personalities and shape their intellects</p>
  
  </div>






<!-- title open ends  -->



<!-- departments cards start  -->
<%- include("partials/dept"); -%>

<!-- dept card ends  -->


<!-- event part starts  -->

<%- include("partials/events"); -%>


<!-- gallery parts starts here  -->

<%- include("partials/gallery"); -%>

<!-- gallery  -->


<!-- social media icons part  -->

 <%- include("partials/social"); -%>

<!-- social part ends  -->

<%- include("partials/contact"); -%>

 <!-- dummy space  -->

 <!-- footer part  -->
 <%- include("partials/footer"); -%>


<script src="js/main.js" type="text/javascript"></script>
<!-- script for swiper cards  -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 2,
      slideShadows: true,
    },
    loop:true,
    pagination: {
      el: ".swiper-pagination",
    },
  });

</script>
<!-- script for aos animate on scroll  -->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>
</html>